.faq-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    color: white;
    background-color: #2a243a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.faq-item {
    background: #2e2e2e;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.faq-item.active {
    background: #444;
}


.faq-question {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid #444;
    color: white;
}


.faq-answer {
    padding: 15px;
    border-top: 1px solid #444;
    color: white;
}
